.container__home {
  display: flex;
  flex-direction: row;
}

.big-card {
  width: 100%;
}

.small-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 41px;
  margin-right: 25px;
}
